[Desktop Entry]
Name=WmNet
Comment=Network Monitor
Comment[pl]=Monitor Sieci
Exec=wmnet -w
Terminal=false
Type=Application
Categories=Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
